/* stylelint-disable color-no-hex */
:root {
  --primary: #9023f7;
  --primary-light: color-mod(var(--primary) tint(30%));
  --primary-lightest: color-mod(var(--primary) tint(80%));
  --primary-dark: color-mod(var(--primary) shade(20%));
  --primary-darkest: color-mod(var(--primary) shade(70%));

  --accent: #222fe2;
  --accent-light: color-mod(var(--accent) tint(15%));
  --accent-lightest: color-mod(var(--accent) tint(70%));
  --accent-dark: color-mod(var(--accent) shade(15%));
  --accent-darkest: color-mod(var(--accent) shade(60%));

  --gray: #808080;

  --true-black: #000000;
  --black: #242424;
  --gray-10: #2e2e31;
  --gray-6: #7b7a7d;
  --gray-4: #a5a5a6;
  --gray-3: #bbbbbc;
  --gray-2: #d1d0d2;
  --gray-1: #e8e7e8;
  --white: #fff;
  --gray-white: #f7f7f7;

  --success: #3adb76;
  --warning: #ff9500;
  --alert: #ff3b30;

  --red: #ec120b;
  --green: #027008;
  --black: #414141;
  --blue: #4222f8;
  --yellow: #dbcd00;
}
