.btnNextGen {
  height: 10vh;
}

.btnsBottomNxt {
  margin-top: auto;
  display: grid;
  width: 100%;
  grid-template-areas: 'btnFinishNxt . btnQRNxt';

  grid-template-rows: 50px;
  grid-template-columns: 5fr 10px 1fr;
}

.btnFinishNxt {
  grid-area: btnFinishNxt;
}

.btnFinishNxt > * {
  height: 100%;
}

.btnQRNxt {
  grid-area: btnQRNxt;
}

.btnQRNxt svg {
  width: 25px;
  height: 25px;
}

.btnsBottom {
  margin-top: auto;
  display: grid;
  width: 100%;
  grid-template-areas:
    'btnFinish btnFinish btnFinish btnFinish btnFinish btnFinish . btnQR'
    '. . . . . . . . '
    'btnPlay btnPlay btnPlay . btnPass btnPass btnPass btnPass';

  grid-template-rows: 50px 10px 100px;
  grid-template-columns: 1fr 1fr 1fr 10px 1fr 1fr 10px 1fr;
}

.btnPlay {
  grid-area: btnPlay;
}

.btnPass {
  grid-area: btnPass;
}

.btnFinish {
  grid-area: btnFinish;
}

.btnFinish > * {
  height: 100%;
}

.btnQR {
  grid-area: btnQR;
}

.btnQR svg {
  width: 25px;
  height: 25px;
}
