.addPart {
  width: 90%;
}

.addBtn {
  align-self: baseline;
}

.rightBtn {
  margin-left: auto;
}

.transitionPart {
  width: 70%;
}

@media screen and (max-width: 640px) {
  .addPart {
    width: 100%;
  }

  .transitionPart {
    width: 100%;
  }
}
