.addPart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin-top: 15px;
}

.addBtn {
  align-self: baseline;
}

.rightBtn {
  margin-left: auto;
}

.btnBottom {
  width: 100%;
  display: flex;
}

.transitionPart {
  width: 60%;
}

@media screen and (max-width: 640px) {
  .addPart {
    width: 100%;
  }

  .transitionPart {
    width: 100%;
  }
}
