.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.passed {
  background-color: #b1b1b1;
  border-radius: 5px;
}

.name {
  text-transform: capitalize;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}
